.page-wrapper {
  min-height: 100vh;
  z-index: 1;
  padding: 50px;
  margin: auto;
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  left: 30px;
}

.active {
  display: block
}

.unactive {
  display: none
}

.dash-top-wrapper {
  display: flex;
  width: 100%;
  border: solid black 1px;
  border-radius: 5px;
  padding: 200px 0px;
}

.timer-details-wrapper {
  flex: 1;
}

.projects-details-wrapper {
  flex: 1;
}