.button_slide {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-top: 10px;
  margin-left: 10px;
  color: #FFF;
  border: 2px solid #8ACB88;
  border-radius: 0px;
  padding: 18px 25px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #8ACB88;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #8ACB88;
}
